main {
  
  width: 80%;
  margin: 0 auto;
}
h1 {
  margin-top: 200px;
  font-size: 50px;
  text-align: center;
  color: white;
}
p {
  font-size: 25px;
  text-align: center;
  color: white;
}
button {
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
a {
  color: white;
}
a:hover {
  border-bottom: 1px solid;
}
footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-align: center;
  position: absolute;
  bottom: 5%;
  width: 100%;
}